.vacation{ background-color: rgb(0, 0, 255) !important;}
.taskCellDisabled{border-top: 1px solid rgb(0, 0, 0);border-bottom: 1px solid rgb(0, 0, 0); height: 50px; overflow: hidden; text-align: left; padding: 0px; display: flex; align-items: center; justify-content: center; background-color: rgba(169, 169, 169, 0.336); }
.taskCell{border: 1px solid black; height: 50px; overflow: hidden; text-align: left; padding: 0px; display: flex; align-items: center; justify-content: center; }
.taskMainCell{ height: 50px; }
.tasksTable
{
    font-size: 13px !important;
    box-shadow: 3px 3px 10px rgba(61, 61, 61, 0.473);
    border: 2px solid black;
    border-radius: 5px;
    background-image: url("https://i.ibb.co/dsNdndv/sdffi.png");
    
    background-repeat: no-repeat;
    background-size: cover;

    

}



.tasksTable ::-webkit-scrollbar {

width: 0px;


}
/* .tasksTable ::-moz-scrollbar{width: 5px;} */

/* Track */
.tasksTable ::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
.tasksTable ::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 2.5px;
}

/* Handle on hover */
.tasksTable ::-webkit-scrollbar-thumb:hover {
background: #555; 
}
.tasksComps
{
    background-color: rgba(0, 0, 255, 0);
    /* display: inline-block;
    width: 100%; */

    height: 185px !important;
    /* overflow-y: overlay; */
    overflow-y: scroll;

    scrollbar-width: thin;
    margin-left: -15px;
    margin-right: -15px;
    /* height: fit-content !important; */

    /* max-height: 190px; */

    /* justify-content: center !important; */
    /* align-items: center; */
    /* justify-content: space-between; */
    
    
}
.fa-exclamation-circle{color: red;}
.fa-check-circle{color: green;}
.fa-cog{color: rgb(73, 73, 73); transition: all 1s;}
.diss{color: rgba(73, 73, 73, 0.288); }
.fa-cog:hover
{
    cursor: pointer;
    transform: rotate(180deg);
}
.fa-save{transition: all 0.2s;}
.fa-save:hover{cursor: pointer;  color:rgb(79, 241, 87); text-shadow: 0px 0px 1px #00ff00;}
.fa-check{transition: all 0.2s;}
.fa-check:hover{cursor: pointer;  color:rgb(79, 241, 87); text-shadow: 0px 0px 1px #00ff00;}
.fa-trash{transition: all 0.2s;}
.fa-trash:hover{cursor: pointer;  color:rgb(241, 79, 79); text-shadow: 0px 0px 1px #ff0000;}
.cellBtn:hover .fa-cog
{
    cursor:pointer;
    transform: rotate(180deg);
}
.cellBtn:hover .fa-save
{
    cursor: pointer;  color:rgb(79, 241, 87); text-shadow: 0px 0px 1px #00ff00;
}
.cellBtn:hover .fa-trash
{
    cursor: pointer; color:rgb(241, 79, 79); text-shadow: 0px 0px 1px #ff0000;
}
.cellBtn:hover
{
    cursor: pointer;
}
.fa-times{transition: all 0.2s;}
.fa-times:hover{cursor: pointer;  color:rgb(241, 79, 79); text-shadow: 0px 0px 1px #ff0000;}
.fa-backspace{transition: all 0.2s;}
.fa-backspace:hover{cursor: pointer;  color:rgb(56, 53, 184); text-shadow: 0px 0px 2px #0051ff;}

    .TaskRecord
    {
        margin-top: 0px !important;
       height: fit-content;
        
    }
    .TaskRecordEdit{
        margin-top: 2px !important;
        margin-bottom: 2px !important;
        /* border-bottom:1px solid rgb(184, 197, 64);
        border-top:1px solid rgb(184, 197, 64); ;
        box-shadow: 0px 0px 10px rgb(217, 255, 0); */
        background-color: rgba(0, 68, 255, 0.349) !important;
    }
    .overtime{background-color: rgba(70, 185, 47, 0.315) !important;}
    .overtimeCell{background-color: rgba(47, 123, 185, 0.315) !important;}
    .redCell{background-color: rgba(219, 33, 8, 0.315);}
    .tasksTableHeader{border-bottom: 2px solid black; background-color: rgba(169, 169, 169, 0.342); box-shadow: 0px 2px 6px rgb(48, 48, 48);}
    .EditBtn{position: absolute; opacity: 0; width: 100%; height: 100%;}
    .EditBtnn{position: absolute; opacity:0.5; width: 100%; height: 100%;}
    .ProjectCell
    {
        background-image: url("https://i.ibb.co/dGvQZPK/sdffi.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    }
    .ProjectName{background-color: rgba(255, 255, 255, 0.699); border-radius: 5px;}
    .plusBtn{padding-top: 5px; transition: all 0.2s;}
    .plusBtn:hover{color: green; cursor: pointer; transform: scale(1.1);}
    .newTaskModalBdy{display: inline-block; height: 50vh; overflow: hidden;}



    .projNameCard
    {

        text-align: center;

        
    }
    .projNamee{background-color: rgba(255, 255, 255, 0.644); border-radius: 10px;}
    
    .projCardPanel{opacity: 0; transition: all 0.5s; background-color: rgba(75, 75, 75, 0.418);  position: relative; display: flex; width: 100%; height: 75px; justify-content: center; top: -70px; padding-top: 15px; padding-bottom: 15px;}
    .projCardPanel:hover{ opacity: 1;}
    .projectCardsContainer{
        height: 75%;
        overflow-y: scroll;
        /* padding-left: 50px;
        padding-right: 50px; */
        display: flex;
        /* flex-direction: row; */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    .projectCardsContainer ._ProjectCard{

        margin: 10px 5px;
    }
    .projectTypeTitle{display: inline-block;}
    .dropdown{display: inline-block;}
    .menuuu
    {
        
        overflow: scroll !important;
        max-height: 300px;
    }
    .menuuu a
    {
        
cursor: pointer;
    }
    .qqwes
    {
        margin-right:  10px;
    }
    .sepppp
    {
        display: inline-block;
        /* height: 50px; */
        border-left: 2px solid black;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 10px;
        height: 40px;
    }
    .dsfdsg{display: inline-block;
        width: 100%;
    }
    .sfgdhd{display: inline-block;
    margin-right: 10px;
    }
    .font14px
    {
        font-size: 14px !important;
        margin-bottom: 0px;
    }

    .DayCode
    {
        width: 75px !important;
        padding: 0px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        border-bottom: black 1px solid ;
    }
    .DaySep
    {
        border-top: black 1px solid ;
        border-left: black 1px solid;
        border-right: black 1px solid;
        padding: 0px;
    }
    .HeaderCellCont
    {
        height: 100%;
        width: 100%;
    }
    .fadedText
    {
        margin-left: 10px;
        color: rgb(177, 177, 177) !important;
    }
    .missionTask
    {
        background-color: #83ff98;
    }
    .vacationTask
    {
        background-color: #e4ff83;
    }
    .sickTask
    {
        background-color: #ff8383;
    }
    .officialTask   
    {
        background-color: #83fbff;
    }
    h1{font-size: 22px !important;}

    .ProjectCard
    {
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
        align-items: center !important;
        background-color: #e5e5e5 !important;
        padding-top: 0px !important;
    }
    .projNameCard
    {
        margin: 0px !important;
        position: absolute !important;
    }
    .projCardPanel
    {
        position:relative !important;
    }